{% extends 'base.html.twig' %}

{% block title %}Reserva una cita{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="./style/reserva.css" type="text/css">
    {% endblock %}

{% block body %}


    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container py-3">
        <div class="row">
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card card-outline-secodary">
                            <div class="card-header">
                                <h3 class="mb-0">Reserva</h3>
                            </div>
                            <div class="card-body">
                                {% for message in app.flashes('exito') %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                {{ form_start(reserva) }}
                                <div class="form-group">
                                    {{ form_label(reserva.talla) }}
                                    {{ form_widget(reserva.talla) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(reserva.imagen) }}
                                    {{ form_widget(reserva.imagen) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(reserva.descripcion,'Descripción', {'label_attr': {'id': 'foo'}}) }}
                                    <div class="popup" onclick="myFunction()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                        </svg>
                                        <span class="popuptext" id="myPopup">Explica cómo te gustaría que fuera tu tatuaje</span>
                                    </div>

                                    <script>
                                        // When the user clicks on div, open the popup
                                        function myFunction() {
                                            var popup = document.getElementById("myPopup");
                                            popup.classList.toggle("show");
                                        }
                                    </script>
                                    {{ form_widget(reserva.descripcion) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(reserva.fechaInicio, 'Fecha') }}
                                    {{ form_widget(reserva.fechaInicio) }}
                                </div>


                                <div class="popup" onclick="myFunctiond()">Deposito
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                    </svg>
                                    <span class="popuptext" id="myPopupd">Para realizar la reserva es necesario un Desposito de 20€</span>
                                </div>
                                <script>
                                    // When the user clicks on div, open the popup
                                    function myFunctiond() {
                                        var popup = document.getElementById("myPopupd");
                                        popup.classList.toggle("show");
                                    }
                                </script>
                                <div class="mt-3">
                                    {{ form_widget(reserva.Pagar, { 'class': 'click' }) }}
                                </div>
                                {{ form_end(reserva) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script>
        jQuery(document).ready(function () {
            const yearDate = "#reserva_fechaInicio_date_year";
            const monthDate = "#reserva_fechaInicio_date_month";
            const dayDate = "#reserva_fechaInicio_date_day";
            getTimes();

            $(yearDate).change(function () {
                console.log("change");
                getTimes();
            });
            $(monthDate).change(function () {
                console.log("change");
                getTimes();
            });
            $(dayDate).change(function () {
                console.log("change");
                getTimes();
            });

            function getTimes() {
                $.ajax({
                    type: "GET",
                    url: "/reserva-times",
                    data: {
                        year: $("#reserva_fechaInicio_date_year option:selected").text(),
                        month: $("#reserva_fechaInicio_date_month option:selected").text(),
                        day: $("#reserva_fechaInicio_date_day option:selected").text(),
                    },
                    dataType: "json",
                    success: function (response) {
                        var len = response.length;
                        var options = '<option selected disabled> Hora </option>';
                        for (var i = 0; i < len; i++) {
                            var available = response[i][1] ? '' : "disabled";
                            options += '<option ' + available + ' value="' + response[i][0] + '">' + response[i][0] + '</option>';
                        }
                        $('#reserva_fechaInicio_time_hour').html(options);
                    }
                });
            }
        });
        document.querySelector('.custom-file-input').addEventListener('change', function (e) {
            var fileName = document.getElementById("reserva_imagen").files[0].name;
            var nextSibling = e.target.nextElementSibling
            nextSibling.innerText = fileName
        });

        let fecha = document.getElementById('reserva_fechaInicio_date_day').value + " / " + document.getElementById('reserva_fechaInicio_date_month').value + " / " + document.getElementById('reserva_fechaInicio_date_year').value
        let hora = document.getElementById('reserva_fechaInicio_time_hour').value + ":00"

        let datos = [document.getElementById('reserva_talla').value,
            document.getElementById('reserva_imagen').value,
            document.getElementById('reserva_descripcion').value,
            fecha,
            hora
        ];

        document.getElementById('reserva_Pagar').addEventListener('click', (event => {
            reserva(datos)
        }))

        function reserva(datos) {
            $.ajax({
                type: 'POST',
                url: '/success',
                data: ({array: JSON.stringify(datos)}),
                async: true,
                dataType: "json",
                success: function (data) {

                }
            })
        }
    </script>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
