{% extends 'base.html.twig' %}

{% block title %}Reserva una cita{% endblock %}

{% block body %}
    <div class="container py-3">
        <div class="row">
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card card-outline-secodary">
                            <div class="card-header">
                                <h3 class="mb-0">Reserva</h3>
                            </div>
                            <div class="card-body">
                                {% for message in app.flashes('exito') %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                <form method="post" class="form" autocomplete="off" role="form">
                                    {{ form_start(reserva) }}
                                    <div class="form-group">
                                        {{ form_label(reserva.talla) }}
                                        {{ form_widget(reserva.talla) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(reserva.imagen) }}
                                        {{ form_widget(reserva.imagen, {'attr': {'class': 'custom-file-input'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(reserva.descripcion) }}
                                        {{ form_widget(reserva.descripcion) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(reserva.fechaInicio, 'Fecha') }}
                                        {{ form_widget(reserva.fechaInicio) }}
                                    </div>
                                    {{ form_widget(reserva.Reserva) }}
                                    {{ form_end(reserva) }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function() {
            const yearDate = "#reserva_fechaInicio_date_year";
            const monthDate = "#reserva_fechaInicio_date_month";
            const dayDate = "#reserva_fechaInicio_date_day";
            getTimes();

            $(yearDate).change(function() {
                console.log("change");
                getTimes();
            });
            $(monthDate).change(function() {
                console.log("change");
                getTimes();
            });
            $(dayDate).change(function() {
                console.log("change");
                getTimes();
            });
        function getTimes() {
            $.ajax({
                type: "GET",
                url: "/reserva-times",
                    data: {
                        year : $( "#reserva_fechaInicio_date_year option:selected" ).text(),
                        month : $( "#reserva_fechaInicio_date_month option:selected" ).text(),
                        day : $( "#reserva_fechaInicio_date_day option:selected" ).text(),
                    },
                    dataType: "json",
                    success: function(response) {
                        var len = response.length;
                        var options = '';
                        for(var i=0; i<len; i++){
                            var available = response[i][1] ? '' : "disabled";
                            options += '<option '+available+' value="'+response[i][0]+'">'+response[i][0]+'</option>';
                        }
                        $('#reserva_fechaInicio_time_hour').html(options);
                    }
                });
            }
        });

        document.querySelector('.custom-file-input').addEventListener('change',function(e){
            var fileName = document.getElementById("reserva_imagen").files[0].name;
            var nextSibling = e.target.nextElementSibling
            nextSibling.innerText = fileName
        });
    </script>
{% endblock %}
