{% extends 'base.html.twig' %}

{% block title %}Reserva una cita{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="./style/reserva.css" type="text/css">
    {% endblock %}

{% block body %}
<<<<<<< HEAD
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-6 bg-white rounded my-3 p-5">

    <h1>Reserva</h1>


    {{ form(reserva) }}


    {{ form_end(reserva) }}
            <script src="https://js.stripe.com/v3/"></script>
            <p>Pagament</p>
            <button id="checkout-button">Pagar</button>



    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
=======
    <div class="container py-3">
        <div class="row">
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card card-outline-secodary">
                            <div class="card-header">
                                <h3 class="mb-0">Reserva</h3>
                            </div>
                            <div class="card-body">
                                {% for message in app.flashes('exito') %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                    {{ form_start(reserva) }}
                                    <div class="form-group">
                                        {{ form_label(reserva.talla) }}
                                        {{ form_widget(reserva.talla) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(reserva.imagen) }}
                                        {{ form_widget(reserva.imagen) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(reserva.descripcion) }}
                                        {{ form_widget(reserva.descripcion) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(reserva.fechaInicio, 'Fecha') }}
                                        {{ form_widget(reserva.fechaInicio) }}
                                    </div>
                                    {{ form_widget(reserva.Reserva) }}
                                {{ form_end(reserva) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
>>>>>>> cab4893bd455b81049e6c07b9e6ae2580821459d
        </div>
    </div>

    <script>
        jQuery(document).ready(function() {
            const yearDate = "#reserva_fechaInicio_date_year";
            const monthDate = "#reserva_fechaInicio_date_month";
            const dayDate = "#reserva_fechaInicio_date_day";
            getTimes();

            $(yearDate).change(function() {
                console.log("change");
                getTimes();
            });
            $(monthDate).change(function() {
                console.log("change");
                getTimes();
            });
            $(dayDate).change(function() {
                console.log("change");
                getTimes();
            });
        function getTimes() {
            $.ajax({
                type: "GET",
                url: "/reserva-times",
                    data: {
                        year : $( "#reserva_fechaInicio_date_year option:selected" ).text(),
                        month : $( "#reserva_fechaInicio_date_month option:selected" ).text(),
                        day : $( "#reserva_fechaInicio_date_day option:selected" ).text(),
                    },
                    dataType: "json",
                    success: function(response) {
                        var len = response.length;
                        var options = '';
                        for(var i=0; i<len; i++){
                            var available = response[i][1] ? '' : "disabled";
                            options += '<option '+available+' value="'+response[i][0]+'">'+response[i][0]+'</option>';
                        }
                        $('#reserva_fechaInicio_time_hour').html(options);
                    }
                });
            }
        });
        document.querySelector('.custom-file-input').addEventListener('change',function(e){
            var fileName = document.getElementById("reserva_imagen").files[0].name;
            var nextSibling = e.target.nextElementSibling
            nextSibling.innerText = fileName
        });
    </script>
    {% block javascripts %}
        <script src="https://js.stripe.com/v3/"></script>
        <script type="text/javascript">
            // Create an instance of the Stripe object with your publishable API key
            var stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx');
            var checkoutButton = document.getElementById('checkout-button');

            checkoutButton.addEventListener('click', function() {
                // Create a new Checkout Session using the server-side endpoint you
                // created in step 3.
                fetch('/create-checkout-session', {
                    method: 'POST',
                })
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(session) {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    })
                    .then(function(result) {
                        // If `redirectToCheckout` fails due to a browser or network
                        // error, you should display the localized error message to your
                        // customer using `error.message`.
                        if (result.error) {
                            alert(result.error.message);
                        }
                    })
                    .catch(function(error) {
                        console.error('Error:', error);
                    });
            });
        </script>
    {% endblock %}
{% endblock %}
